In [1]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from dateutil.parser import parse
import matplotlib as mpl

In [2]:
df_ha = pd.read_excel('# 중국 매크로 데이터.xlsx', sheet_name = '백색')
#df_ha.head(30)

In [3]:
df_ha = df_ha.iloc[23:]
df_ha = df_ha.iloc[:, 0:7]
display(df_ha)

,데이터를 업데이트하고 계열을 추가하거나 지우려면 이 링크를 선택하시고 다운로드 새로고침/편집을 클릭하세요,CN: Industrial Production: Air Conditioner,CN: Industrial Production: ytd: Air Conditioner,CN: Industrial Production: Household Washing Machine,CN: Industrial Production: ytd: Household Washing Machine,CN: Industrial Production: Household Refrigerator,CN: Industrial Production: ytd: Household Refrigerator
23,1986-01-01 00:00:00,NaN,NaN,763.2,NaN,136.7,NaN
24,1986-02-01 00:00:00,NaN,NaN,587.3,NaN,114.3,NaN
25,1986-03-01 00:00:00,NaN,NaN,774,NaN,148.5,NaN
26,1986-04-01 00:00:00,NaN,NaN,717.7,NaN,144,NaN
27,1986-05-01 00:00:00,NaN,NaN,772.6,NaN,149,NaN
...,...,...,...,...,...,...,...
443,2021-08-01 00:00:00,14912,152198,6738,55915,7364,59135
444,2021-09-01 00:00:00,15081,166590,6995,62829,7638,66201
445,2021-10-01 00:00:00,14549,180924,7668,69685,7636,74122
446,2021-11-01 00:00:00,16628,197414,8438,78330,8085,82533
447,2021-12-01 00:00:00,19635,218357,7856,86185,7578,89921

In [4]:
df_ha = df_ha.rename(columns = {'데이터를 업데이트하고 계열을 추가하거나 지우려면 이 링크를 선택하시고 다운로드 새로고침/편집을 클릭하세요': 'DATE'})
df_ha = df_ha.rename(columns = {'CN: Industrial Production: Air Conditioner': 'AIR'})
df_ha = df_ha.rename(columns = {'CN: Industrial Production: ytd: Air Conditioner': 'AIR_YTD'})
df_ha = df_ha.rename(columns = {'CN: Industrial Production: Household Washing Machine': 'WM'})
df_ha = df_ha.rename(columns = {'CN: Industrial Production: ytd: Household Washing Machine': 'WM_YTD'})
df_ha = df_ha.rename(columns = {'CN: Industrial Production: Household Refrigerator': 'RF'})
df_ha = df_ha.rename(columns = {'CN: Industrial Production: ytd: Household Refrigerator': 'RF_YTD'})
#df_ha.dropna(how = 'any')
df_ha.head(13)

                   DATE  AIR AIR_YTD     WM WM_YTD     RF RF_YTD
23  1986-01-01 00:00:00  NaN     NaN  763.2    NaN  136.7    NaN
24  1986-02-01 00:00:00  NaN     NaN  587.3    NaN  114.3    NaN
25  1986-03-01 00:00:00  NaN     NaN    774    NaN  148.5    NaN
26  1986-04-01 00:00:00  NaN     NaN  717.7    NaN    144    NaN
27  1986-05-01 00:00:00  NaN     NaN  772.6    NaN    149    NaN
28  1986-06-01 00:00:00  NaN     NaN  764.1    NaN  170.3    NaN
29  1986-07-01 00:00:00  NaN     NaN  711.3    NaN  195.4    NaN
30  1986-08-01 00:00:00  NaN     NaN  723.4    NaN  200.7    NaN
31  1986-09-01 00:00:00  NaN     NaN  719.9    NaN  204.3    NaN
32  1986-10-01 00:00:00  NaN     NaN  780.8    NaN  232.9    NaN
33  1986-11-01 00:00:00  NaN     NaN  845.6    NaN  267.1    NaN
34  1986-12-01 00:00:00  NaN     NaN  866.8    NaN  256.7    NaN
35  1987-01-01 00:00:00  NaN     NaN  788.9    NaN  226.8    NaN

In [5]:
df_ha['AIR_New'] = np.where(pd.notnull(df_ha['AIR']) == True, df_ha['AIR'], df_ha['AIR_YTD'])
df_ha['WM_New'] = np.where(pd.notnull(df_ha['WM']) == True, df_ha['WM'], df_ha['WM_YTD'])
df_ha['RF_New'] = np.where(pd.notnull(df_ha['RF']) == True, df_ha['RF'], df_ha['RF_YTD'])
df_ha.tail(13)

,DATE,AIR,AIR_YTD,WM,WM_YTD,RF,RF_YTD,AIR_New,WM_New,RF_New
435,2020-11-01 00:00:00,17716,189292,8566,72285,8989,82605,17716,8566,8989
436,2020-12-01 00:00:00,21525,210353,8064,80418.7,7964,90147.1,21525,8064,7964
437,2021-02-01 00:00:00,NaN,29404,NaN,13135,NaN,12107,29404,13135,12107
438,2021-03-01 00:00:00,25916,55953,8312,21447,9466,21578,25916,8312,9466
439,2021-04-01 00:00:00,24210,79396,7720,29167,7729,29449,24210,7720,7729
440,2021-05-01 00:00:00,22058,101759,7032,36184,7487,37116,22058,7032,7487
441,2021-06-01 00:00:00,21670,123283,6640,42939,7425,44346,21670,6640,7425
442,2021-07-01 00:00:00,18018,137686,6238,49177,7410,51773,18018,6238,7410
443,2021-08-01 00:00:00,14912,152198,6738,55915,7364,59135,14912,6738,7364
444,2021-09-01 00:00:00,15081,166590,6995,62829,7638,66201,15081,6995,7638
445,2021-10-01 00:00:00,14549,180924,7668,69685,7636,74122,14549,7668,7636
446,2021-11-01 00:00:00,16628,197414,8438,78330,8085,82533,16628,8438,8085
447,2021-12-01 00:00:00,19635,218357,7856,86185,7578,89921,19635,7856,7578

In [6]:
df_ha = df_ha[['DATE','AIR_New', "WM_New", "RF_New"]]
df_ha.tail()

                    DATE AIR_New WM_New RF_New
443  2021-08-01 00:00:00   14912   6738   7364
444  2021-09-01 00:00:00   15081   6995   7638
445  2021-10-01 00:00:00   14549   7668   7636
446  2021-11-01 00:00:00   16628   8438   8085
447  2021-12-01 00:00:00   19635   7856   7578

In [7]:
df_ha = df_ha.set_index("DATE")
df_ha.head()

           AIR_New WM_New RF_New
DATE
1986-01-01     NaN  763.2  136.7
1986-02-01     NaN  587.3  114.3
1986-03-01     NaN    774  148.5
1986-04-01     NaN  717.7    144
1986-05-01     NaN  772.6    149

In [8]:
index = pd.date_range("2016-01-01", "2022-01-01", freq="YS")
index

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [9]:
empty = pd.DataFrame(index=index, columns=["data"])
empty

           data
2016-01-01  NaN
2017-01-01  NaN
2018-01-01  NaN
2019-01-01  NaN
2020-01-01  NaN
2021-01-01  NaN
2022-01-01  NaN

In [10]:
new_data = pd.concat([df_ha, empty], axis = 1, sort = False)
new_data.tail(30)

           AIR_New WM_New RF_New data
2019-08-01   14332   6782   7017  NaN
2019-09-01   17839   7205   7367  NaN
2019-10-01   13322   7615   7046  NaN
2019-11-01   15455   7209   7222  NaN
2019-12-01   20349   7265   6902  NaN
2020-01-01     NaN    NaN    NaN  NaN
2020-02-01   16285   7757   6670  NaN
2020-03-01   19403   6400   7266  NaN
2020-04-01   19159   5557   7015  NaN
2020-05-01   19428   6083   7767  NaN
2020-06-01   24903   6555   8874  NaN
2020-07-01   18512   6862   9147  NaN
2020-08-01   15330   7492   9085  NaN
2020-09-01   17141   7992   9358  NaN
2020-10-01   14489   8406   8796  NaN
2020-11-01   17716   8566   8989  NaN
2020-12-01   21525   8064   7964  NaN
2021-01-01     NaN    NaN    NaN  NaN
2021-02-01   29404  13135  12107  NaN
2021-03-01   25916   8312   9466  NaN
2021-04-01   24210   7720   7729  NaN
2021-05-01   22058   7032   7487  NaN
2021-06-01   21670   6640   7425  NaN
2021-07-01   18018   6238   7410  NaN
2021-08-01   14912   6738   7364  NaN
2021-09-01   15081   6995   7638  NaN
2021-10-01   14549   7668   7636  NaN
2021-11-01   16628   8438   8085  NaN
2021-12-01   19635   7856   7578  NaN
2022-01-01     NaN    NaN    NaN  NaN

In [11]:
new_data = df_ha.append(empty).sort_index()

for year in range(2016,2022):
    tmp = new_data.copy().loc[str(year)]
    jan_idx = tmp[:2].index[0]
    jan_val= (tmp[:2].values[-1]*31) / (31+28)
    tmp.loc[jan_idx] = jan_val
    
    feb_idx = tmp[:2].index[-1]
    feb_val = (tmp[:2].values[-1]*28) / (31+28)
    tmp.loc[feb_idx] = feb_val
    
    if "new_tmp" not in locals(): new_tmp = tmp
    else: new_tmp = new_tmp.append(tmp)

C:\Users\pc\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [12]:
fig = px.line(new_tmp, y = 'AIR_New')
fig.update_layout(title='Production of Air Conditioner in China',
                   xaxis_title='Date',
                   yaxis_title='Unit (thousand)')
fig.show()

In [13]:
new_tmp.index.name = "DATE"
new_tmp

            AIR_New   RF_New   WM_New data
DATE
2016-01-01  11056.5  6224.69  5882.12  NaN
2016-02-01  9986.51  5622.31  5312.88  NaN
2016-03-01    16391     8671     7270  NaN
2016-04-01    15829     8733     6071  NaN
2016-05-01    14323     8552     5854  NaN
...             ...      ...      ...  ...
2021-08-01    14912     7364     6738  NaN
2021-09-01    15081     7638     6995  NaN
2021-10-01    14549     7636     7668  NaN
2021-11-01    16628     8085     8438  NaN
2021-12-01    19635     7578     7856  NaN

[72 rows x 4 columns]

In [14]:
new_tmp.reset_index(drop=False)

         DATE  AIR_New   RF_New   WM_New data
0  2016-01-01  11056.5  6224.69  5882.12  NaN
1  2016-02-01  9986.51  5622.31  5312.88  NaN
2  2016-03-01    16391     8671     7270  NaN
3  2016-04-01    15829     8733     6071  NaN
4  2016-05-01    14323     8552     5854  NaN
..        ...      ...      ...      ...  ...
67 2021-08-01    14912     7364     6738  NaN
68 2021-09-01    15081     7638     6995  NaN
69 2021-10-01    14549     7636     7668  NaN
70 2021-11-01    16628     8085     8438  NaN
71 2021-12-01    19635     7578     7856  NaN

[72 rows x 5 columns]

In [15]:
del new_tmp['data']
new_tmp.head()

            AIR_New   RF_New   WM_New
DATE
2016-01-01  11056.5  6224.69  5882.12
2016-02-01  9986.51  5622.31  5312.88
2016-03-01    16391     8671     7270
2016-04-01    15829     8733     6071
2016-05-01    14323     8552     5854

In [16]:
new_tmp.reset_index(inplace = True)

new_tmp['year'] = [d.year for d in new_tmp.DATE]
##df_ha['month'] = [d.strftime('%b') for d in df_ha.DATE]
new_tmp['month'] = new_tmp['DATE'].dt.strftime('%m')
years = new_tmp['year'].unique()
new_tmp.tail(13)

         DATE  AIR_New   RF_New   WM_New  year month
59 2020-12-01    21525     7964     8064  2020    12
60 2021-01-01  15449.6  6361.31  6901.44  2021    01
61 2021-02-01  13954.4  5745.69  6233.56  2021    02
62 2021-03-01    25916     9466     8312  2021    03
63 2021-04-01    24210     7729     7720  2021    04
64 2021-05-01    22058     7487     7032  2021    05
65 2021-06-01    21670     7425     6640  2021    06
66 2021-07-01    18018     7410     6238  2021    07
67 2021-08-01    14912     7364     6738  2021    08
68 2021-09-01    15081     7638     6995  2021    09
69 2021-10-01    14549     7636     7668  2021    10
70 2021-11-01    16628     8085     8438  2021    11
71 2021-12-01    19635     7578     7856  2021    12

In [17]:
fig = px.line(new_tmp, x='month', y='AIR_New', color='year')
fig.show()

In [19]:
df_ha_air = new_tmp.pivot_table('AIR_New', 'year','month', aggfunc=np.sum)
df_ha_air

month,01,02,03,04,05,06,07,08,09,10,11,12
year,,,,,,,,,,,,
2016,11056.491525,9986.508475,16391.0,15829.0,14323.0,16569.0,13265.0,12061.0,12351.0,11613.0,11950.0,14622.0
2017,12879.186441,11632.813559,18875.0,19502.0,18706.0,19175.0,16654.0,14628.0,15254.0,13473.0,14601.0,15742.0
2018,14723.949153,13299.050847,20190.0,21432.0,21344.0,20798.0,17188.0,14753.0,16083.0,13568.0,15198.0,18320.0
2019,14651.440678,13233.559322,24069.0,23636.0,21912.0,21331.0,16861.0,14332.0,17839.0,13322.0,15455.0,20349.0
2020,8556.525424,7728.474576,19403.0,19159.0,19428.0,24903.0,18512.0,15330.0,17141.0,14489.0,17716.0,21525.0
2021,15449.559322,13954.440678,25916.0,24210.0,22058.0,21670.0,18018.0,14912.0,15081.0,14549.0,16628.0,19635.0